{
  "parser": "babel-eslint",
  "extends": ["react-app", "airbnb"],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["import", "jsx-a11y", "react"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "import/prefer-default-export": "off",
    "react/jsx-one-expression-per-line": "off"
  }
  // "settings": {
  //   "import/resolver": {
  //     "babel-plugin-root-import": {
  //       "rootPathPrefix": "~",
  //       "rootPathSuffix": "src"
  //     }
  //   }
  // }
}
